@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Retro Font Styling */
* {
  font-family: "Elms Sans", sans-serif;
  font-size: 18px;
}

body {
  font-family: "Elms Sans", sans-serif;
  font-size: 14px;
}