@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font Face Declarations */
@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Elms Sans";
  src: url("./assets/Fonts/ElmsSans-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* Retro Font Styling */
* {
  font-family: "Elms Sans", sans-serif;
  font-size: 16px;

}

body {
  font-family: "Elms Sans", sans-serif;
  font-size: 14px;
}